body {

background-color: rgb(37, 52, 79);

}

h1 {

    color: rgb(213, 184, 147);
}

h2 {
color: rgb(213, 184, 147);

}

h3 {

color: rgb(213, 184, 147);
}


h4 {
color: rgb(213, 184, 147);
}

h5{
color: rgb(213, 184, 147);
}


h6 {

color: rgb(213, 184, 147);
}
